* {
  margin: 0;
}

body {
  margin: 0 auto;
}

/* Header logo and the top navigation STARTS HERE */

.navigation {
  background-color: #1f2937;
  color: #f9faf8;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

ul {
  display: flex;
  list-style-type: none;
  gap: 20px;
}

a {
  list-style-type: none;
  text-decoration-line: none;
  text-decoration-style: none;
  color: #f9faf8;
}

/* Header logo and the top navigation ENDS HERE */

/* Main header starts here */

.header {
  background-color: #1f2937;
  padding-top: 40px;
  display: flex;
  justify-content: space-around;
}

.awesome-text {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
  display: flex;
  flex-direction: column;
}
.dummy {
  font-size: 18px;
  color: #e5e7eb;
  width: 450px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 50px;
}

button {
  background-color: #3882f6;
  border-radius: 12px;
  font-size: 18px;
  width: 80px;
}
.alice {
  width: 250px;
  height: 300px;
  padding: 40px;
}

/* Article 1 beggins here */

  .information {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
  }

  .alicepics {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    text-align: center;
  }

  .alicepics p {
    font-size: 10px;
    font-family: 'Courier New', Courier, monospace, sans-serif;
  }

  img {
    border-radius: 50px;
  }

/* Article 1 ends here */